wsdl-doc-tool/src/test/resources/sampleWsdl/DNSWebServiceService(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:grid.webservice.grid.ebay.com" xmlns:intf="urn:grid.webservice.grid.ebay.com" xmlns:tns1="http://to.webservice.grid.ebay.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="urn:grid.webservice.grid.ebay.com">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://to.webservice.grid.ebay.com">
   <import namespace="urn:grid.webservice.grid.ebay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="BaseTo">
    <sequence/>
   </complexType>
   <complexType name="ResponseTo">
    <complexContent>
     <extension base="tns1:BaseTo">
      <sequence>
       <element name="requestMessage" nillable="true" type="xsd:string"/>
       <element name="requestStatus" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ErrorResponse">
    <sequence>
     <element name="subCategory" nillable="true" type="xsd:string"/>
     <element name="msg" nillable="true" type="xsd:string"/>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="severity" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DnsDetail">
    <complexContent>
     <extension base="tns1:ResponseTo">
      <sequence>
       <element name="cname" type="xsd:boolean"/>
       <element name="currentIP" nillable="true" type="xsd:string"/>
       <element name="newIP" nillable="true" type="xsd:string"/>
       <element name="dnsDetailErrors" nillable="true" type="impl:ArrayOf_tns1_ErrorResponse"/>
       <element name="forward" type="xsd:boolean"/>
       <element name="newHostName" nillable="true" type="xsd:string"/>
       <element name="newAlias" nillable="true" type="xsd:string"/>
       <element name="currentAlias" nillable="true" type="xsd:string"/>
       <element name="reverse" type="xsd:boolean"/>
       <element name="currentHostName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DnsDetailsArrayTo">
    <complexContent>
     <extension base="tns1:ResponseTo">
      <sequence>
       <element name="notes" nillable="true" type="xsd:string"/>
       <element name="sasrvID" nillable="true" type="xsd:string"/>
       <element name="userName" nillable="true" type="xsd:string"/>
       <element name="sessionId" nillable="true" type="xsd:string"/>
       <element name="fromProvisioning" type="xsd:boolean"/>
       <element name="projectID" nillable="true" type="xsd:string"/>
       <element name="dnsActionType" nillable="true" type="xsd:string"/>
       <element name="startTime" nillable="true" type="xsd:string"/>
       <element name="dnsTos" nillable="true" type="impl:ArrayOf_tns1_DnsDetail"/>
       <element name="elapsedTime" nillable="true" type="xsd:string"/>
       <element name="endTime" nillable="true" type="xsd:string"/>
       <element name="tracketID" nillable="true" type="xsd:string"/>
       <element name="groupErrors" nillable="true" type="impl:ArrayOf_tns1_ErrorResponse"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="urn:grid.webservice.grid.ebay.com">
   <import namespace="http://to.webservice.grid.ebay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_ErrorResponse">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ErrorResponse[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_DnsDetail">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:DnsDetail[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="commitDNSDetailsRequest">

      <wsdl:part name="in0" type="tns1:DnsDetailsArrayTo"/>

   </wsdl:message>

   <wsdl:message name="commitDNSDetailsResponse">

      <wsdl:part name="commitDNSDetailsReturn" type="tns1:DnsDetailsArrayTo"/>

   </wsdl:message>

   <wsdl:message name="validateDNSDetailsRequest">

      <wsdl:part name="in0" type="tns1:DnsDetailsArrayTo"/>

   </wsdl:message>

   <wsdl:message name="validateDNSDetailsResponse">

      <wsdl:part name="validateDNSDetailsReturn" type="tns1:DnsDetailsArrayTo"/>

   </wsdl:message>

   <wsdl:portType name="DNSWebService">

      <wsdl:operation name="validateDNSDetails" parameterOrder="in0">

         <wsdl:input message="intf:validateDNSDetailsRequest" name="validateDNSDetailsRequest"/>

         <wsdl:output message="intf:validateDNSDetailsResponse" name="validateDNSDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="commitDNSDetails" parameterOrder="in0">

         <wsdl:input message="intf:commitDNSDetailsRequest" name="commitDNSDetailsRequest"/>

         <wsdl:output message="intf:commitDNSDetailsResponse" name="commitDNSDetailsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DNSWebServiceSoapBinding" type="intf:DNSWebService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateDNSDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateDNSDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grid.webservice.grid.ebay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateDNSDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grid.webservice.grid.ebay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="commitDNSDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="commitDNSDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grid.webservice.grid.ebay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="commitDNSDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:grid.webservice.grid.ebay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DNSWebServiceService">

      <wsdl:port binding="intf:DNSWebServiceSoapBinding" name="DNSWebService">

         <wsdlsoap:address location="http://sj-wfce003.sjc.ebay.com:8080/grid/services/DNSWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>