wsdl-doc-tool/src/test/resources/sampleWsdl/Payment Instrument Service(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ebay.com/marketplace/payment/v1/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:dtl="http://www.ebay.com/marketplace/payment/v1/services" name="PaymentInstrumentService" targetNamespace="http://www.ebay.com/marketplace/payment/v1/services">

    <wsdl:types>
            <!-- eBay Common types. -->         
        <xsd:schema xmlns:coretype="http://www.ebay.com/marketplace/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/services">
            <xsd:simpleType name="ErrorCategory">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="System"/>
                    <xsd:enumeration value="Application"/>
                    <xsd:enumeration value="Request"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ErrorData">
                <xsd:sequence>
                    <xsd:element name="errorId" type="xsd:long"/>
                    <xsd:element name="domain" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="subdomain" type="xsd:string"/>
                    <xsd:element name="severity" type="coretype:ErrorSeverity"/>
                    <xsd:element name="category" type="coretype:ErrorCategory"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="exceptionId" type="xsd:token"/>
                    <!-- xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="coretype:ErrorParameter" / -->
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorMessage">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" type="coretype:ErrorData">
					</xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorParameter">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="name" type="xsd:string">
						</xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ErrorSeverity">
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="Error"/>
                    <xsd:enumeration value="Warning"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:coretype="http://www.ebay.com/marketplace/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/payment/v1/services">
            <xsd:import namespace="http://www.ebay.com/marketplace/services"/>

            <xsd:element name="GetInstrumentPIIDataRequest" nillable="true" type="tns:GetInstrumentPIIDataRequestType"/>
            <xsd:element name="GetInstrumentPIIDataResponse" nillable="true" type="tns:GetInstrumentPIIDataResponseType"/>
            <xsd:element name="PaymentInstrumentServiceError" nillable="true" type="coretype:ErrorMessage"/>
            
            <!--  		DTL LIBRARY TYPES 		-->
            <xsd:complexType abstract="true" name="BaseServiceRequestType">
                <xsd:sequence>
                    <xsd:element name="RequestHeader" type="dtl:RequestHeaderType"/>
                    <xsd:element minOccurs="0" name="ClientID" type="xsd:token"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType abstract="true" name="BaseServiceResponseType">
                <xsd:sequence>
                    <xsd:element name="ResponseHeader" type="dtl:ResponseHeaderType"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- xsd:complexType name="BaseServiceErrorMessageType">
                <xsd:complexContent>
                    <xsd:extension base="coretype:ErrorMessage">
                        <xsd:sequence>
                            <xsd:element name="ResponseHeader" type="dtl:ResponseHeaderType"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType -->

            <xsd:complexType name="AccountType">
                <xsd:sequence>
                    <xsd:element name="AccountID" type="xsd:string"/>
                    <xsd:element name="AccountSuffixID" type="xsd:string"/>
                    <xsd:element name="ClientID" type="xsd:token"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RequestHeaderType">
                <xsd:sequence>
                    <xsd:element name="RequestID" type="xsd:string"/>
                    <xsd:element name="RequestDate" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="CorrelationID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ResponseHeaderType">
                <xsd:sequence>
                    <xsd:element name="RequestID" type="xsd:string"/>
                    <xsd:element name="ResponseTime" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="CorrelationID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>  
            
  	        <xsd:complexType name="CIPReferenceType">
		        <xsd:annotation>
			        <xsd:documentation>Unique CIP identifier</xsd:documentation>
		        </xsd:annotation>
		        <xsd:sequence>
                   <xsd:element name="UserID" type="xsd:string"/>
                   <xsd:element name="UserType" type="xsd:string"/>
                   <xsd:element name="ClientID" type="xsd:token"/>
		       </xsd:sequence>
	       </xsd:complexType>          

            
            <!--			GETINSTRUMENTPIIDATA		-->
            <xsd:complexType name="GetInstrumentPIIDataRequestType">
                <xsd:complexContent>
                    <xsd:extension base="dtl:BaseServiceRequestType">
                        <xsd:sequence>
                            <xsd:element name="ClientReference" type="xsd:token"/>
                            <xsd:element name="ClientRequestorID" type="xsd:string"/>
                            <xsd:element name="InstrumentReferences" type="tns:InstrumentReferencesType"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="GetInstrumentPIIDataResponseType">
                <xsd:complexContent>
                    <xsd:extension base="dtl:BaseServiceResponseType">
                        <xsd:sequence>
                            <xsd:element name="InstrumentsPII" type="tns:InstrumentsPIIType"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            
            
            <!--			COMPLEX TYPES			-->
            <xsd:complexType name="InstrumentReferencesType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="InstrumentReference" type="dtl:InstrumentReferenceType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="InstrumentReferenceType">
                <xsd:choice>
                    <xsd:element name="InstrumentID" type="xsd:string"/>
                    <xsd:element name="TransactionID" type="xsd:string"/>
                    <xsd:element name="CreditCardToken" type="xsd:string"/>
                    <xsd:element name="CIPReference" type="dtl:CIPReferenceType"/>
                    <xsd:element name="PrimaryOwnerAccount" type="dtl:AccountType"/>
                </xsd:choice>
            </xsd:complexType>
                        
            <xsd:complexType name="InstrumentsPIIType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="InstrumentPII" type="tns:InstrumentPIIType"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="InstrumentPIIType">
                <xsd:choice>
                    <xsd:element name="CreditCardPII" type="tns:CreditCardPIIType"/>
                    <xsd:element name="DirectDebitPII" type="tns:DirectDebitPIIType"/>
                    <xsd:element name="CIPPII" type="tns:CIPPIIType"/>
                </xsd:choice>
            </xsd:complexType>
            
            <xsd:complexType name="CreditCardPIIType">
                <xsd:sequence>
                    <xsd:element name="CreditCardNumber" type="tns:PCIDataType"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="DirectDebitPIIType">
                <xsd:sequence>
                    <xsd:element name="BankAccountNumber" type="tns:PCIDataType"/>
                    <xsd:element name="BankABANumber" type="xsd:string"/>
                    <xsd:element name="ISOCountryID" type="dtl:ISO2Alpha3166Code"/>
                    <xsd:element minOccurs="0" name="IBAN" type="tns:PCIDataType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CIPPIIType">
                <xsd:sequence>
                    <xsd:element name="BankAccountNumber" type="tns:PCIDataType"/>
                    <xsd:element minOccurs="0" name="IBAN" type="tns:PCIDataType"/>
                    <xsd:element minOccurs="0" name="BankCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="BankCountryId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="BankBranchCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ControlDigit" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SwiftCode" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="BankIdCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="PCIDataType">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="encrypted" type="xsd:boolean"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            
            <!--			SIMPLE TYPES			-->
            <xsd:simpleType name="ISO2Alpha3166Code">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[a-zA-Z][a-zA-Z]"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="getInstrumentPIIDataResponse">
        <wsdl:part element="tns:GetInstrumentPIIDataResponse" name="body"/>
    </wsdl:message>

    <wsdl:message name="paymentInstrumentServiceFault">
        <wsdl:part element="tns:PaymentInstrumentServiceError" name="fault"/>
    </wsdl:message>

    <wsdl:message name="getInstrumentPIIDataRequest">
        <wsdl:part element="tns:GetInstrumentPIIDataRequest" name="body"/>
    </wsdl:message>

    <wsdl:portType name="PaymentInstrumentServicePort">
        <wsdl:operation name="getInstrumentPIIData">
            <wsdl:input message="tns:getInstrumentPIIDataRequest"/>
            <wsdl:output message="tns:getInstrumentPIIDataResponse"/>
            <wsdl:fault message="tns:paymentInstrumentServiceFault" name="paymentInstrumentServiceError"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="PaymentInstrumentServiceSOAP12Binding" type="tns:PaymentInstrumentServicePort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getInstrumentPIIData">
            <soap12:operation soapAction="urn:getInstrumentPIIData" soapActionRequired="true" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="paymentInstrumentServiceError">
                <soap12:fault name="paymentInstrumentServiceError" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="PaymentInstrumentService">
        <wsdl:documentation>
            <Version>1.0.0</Version>
        </wsdl:documentation>
        
        <wsdl:port binding="tns:PaymentInstrumentServiceSOAP12Binding" name="PaymentInstrumentServiceSOAP12">
            <soap12:address location="https://svcs.ebay.com/payment/PaymentInstrumentService/v1"/>
        </wsdl:port>
        
    </wsdl:service>

</wsdl:definitions>