wsdl-doc-tool/src/test/resources/sampleWsdl/ProductMetadataService(1.1.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ebay.com/marketplace/marketplacecatalog/v1/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.ebay.com/marketplace/marketplacecatalog/v1/services" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ProductMetadataService" targetNamespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services">
    <wsdl:documentation/>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services">

            <xs:element name="getProductSearchNamesResponse" type="tns:GetProductSearchNamesResponse"/>
            <xs:element name="getProductSearchValuesRequest" type="tns:GetProductSearchValuesRequest">
                <xs:annotation>
                    <xs:documentation>
						User can request if the user wants the response
						a List not as Tree
					</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="getProductSearchValuesResponse" type="tns:GetProductSearchValuesResponse"/>
            <xs:complexType name="GetProductSearchNamesRequest">
                <xs:annotation>
                    <xs:documentation>
						Request object for getPropertiesInCatalog
						operation.
					</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
										Return properties for a given
										catalog enabled category. We
										will throw an error if the
										category is not catalog enabled.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="dataset" type="xs:token">
                                <xs:annotation>
                                    <xs:documentation>
										This will define what are
										properties that will be returned
										for this category enabled
										category. We will document the
										view sets that are exposed and
										what will come out of each view
										set
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="getProductSearchNamesRequest" type="tns:GetProductSearchNamesRequest">
                <xs:annotation>
                    <xs:documentation>
						Request object for getPropertiesInCatalog
						operation.
					</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetProductSearchNamesResponse">
                <xs:annotation>
                    <xs:documentation>
						Response containing the list of properties
					</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="categoryId" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" type="tns:Properties">
                                <xs:annotation>
                                    <xs:documentation>
										This will contain the category
										id , version and all the
										properties for the input catalog
										enabled category id.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetProductSearchValuesRequest">
                <xs:complexContent>
                    <xs:extension base="tns:GetProductSearchValuesBaseRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="propertyName" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
										PropertyLiteral Determines which
										property to be returned.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetProductSearchValuesBaseRequest">
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
										This should be a valid category
										id.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="propertyFilter" type="tns:PropertyValue">
                                <xs:annotation>
                                    <xs:documentation>
										Constrains the output of values
										for the given PropertyLiteral
										(or group of properties) as per
										given
										ConstrainingPropertyLiteral:ConstrainingValueLiteral
										pair (or pairs) according to the
										respective dependency graph.
										AND-logic will be applied within
										the constraint.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="listFormatOnly" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetProductSearchValuesResponse">
                <xs:annotation>
                    <xs:documentation>
						This will contain the response for the
						propertyValues. If the category is fitment
						enabled then we will have the propertyValueTree
						populated. If the category is not fitment
						enabled then we will generate the propertyValues
						which will be a list of values for each property
						and not a dependency tree
					</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="metadataVersion" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
										Version information reflects the
										last update of the values within
										the dependency graph.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="propertyValues" type="tns:PropertyValue">
                                <xs:annotation>
                                    <xs:documentation>
										This will be populated for the
										non-fitment enabled category
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="propertyValuesTree" type="tns:PropertyNameValue">
                                <xs:annotation>
                                    <xs:documentation>
										This will be populated for
										non-fitment enabled category
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="1" name="treeFormat" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="OrderType">
                <xs:annotation>
                	<xs:appinfo>
						<typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Defines the order type as Ascending or
						Descending
					</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Ascending"/>
                    <xs:enumeration value="Descending"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="getCompatibilitySearchNamesRequest" type="tns:GetCompatibilitySearchNamesRequest"/>
            <xs:element name="getCompatibilitySearchNamesResponse" type="tns:GetProductSearchNamesResponse"/>
            <xs:complexType name="GetCompatibilitySearchNamesRequest">
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
										Provide the interface category
										id. For example to get the cars
										properties, provide tires
										categoyid.
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="dataset" type="xs:token">
                                <xs:annotation>
                                    <xs:documentation>
										This will define what are
										properties that will be returned
										for this catalog enabled
										category. We will document the
										view sets that are exposed and
										what will come out of each view
										set
									</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="getCompatibilitySearchValuesRequest" type="tns:GetProductSearchValuesRequest"/>
            <xs:element name="getCompatibilitySearchValuesResponse" type="tns:GetProductSearchValuesResponse"/>

            <xs:simpleType name="SortPriority">
				<xs:annotation>
                	<xs:appinfo>
						<typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/>
					</xs:appinfo>
				</xs:annotation>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Sort1"/>
                    <xs:enumeration value="Sort2"/>
                    <xs:enumeration value="Sort3"/>
                    <xs:enumeration value="Sort4"/>
                    <xs:enumeration value="Sort5"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="getProductSearchValuesBulkRequest" type="tns:GetProductSearchValuesBulkRequest"/>
            <xs:element name="getProductSearchValuesBulkResponse" type="tns:GetProductSearchValuesBulkResponse"/>
            <xs:element name="getCompatibilitySearchValuesBulkRequest" type="tns:GetProductSearchValuesBulkRequest"/>
            <xs:element name="getCompatibilitySearchValuesBulkResponse" type="tns:GetCompatibilitySearchValuesBulkResponse"/>
            <xs:complexType name="GetCompatibilitySearchValuesBulkRequest">
                <xs:complexContent>
                    <xs:extension base="tns:GetProductSearchValuesBaseRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="propertyName" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetProductSearchValuesBulkResponse">
                <xs:complexContent>
                    <xs:extension base="tns:GetProductSearchValuesResponse"/>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetCompatibilitySearchValuesBulkResponse">
                <xs:complexContent>
                    <xs:extension base="tns:GetProductSearchValuesResponse">
                        <xs:sequence>
                            <xs:element name="medataDetails" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetProductSearchValuesBulkRequest">
                <xs:complexContent>
                    <xs:extension base="tns:GetProductSearchValuesBaseRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="propertyName" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="DatasetValue">
				<xs:annotation>
                	<xs:appinfo>
						<typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/>
					</xs:appinfo>
				</xs:annotation>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Searchable"/>
                    <xs:enumeration value="Sortable"/>
                    <xs:enumeration value="DisplayableSmall"/>
                    <xs:enumeration value="DisplayableMedium"/>
                    <xs:enumeration value="DisplayableLarge"/>
                    <xs:enumeration value="DisplayableAll"/>
                </xs:restriction>
            </xs:simpleType>



            <xs:element name="getProductSearchDataVersionResponse" type="tns:GetProductSearchDataVersionResponse"/>
            <xs:element name="getCompatibilitySearchDataVersionRequest" type="tns:GetProductSearchDataVersionRequest"/>
            <xs:element name="getCompatibilitySearchDataVersionResponse" type="tns:GetProductSearchDataVersionResponse"/>
            <xs:element name="getProductSearchDataVersionRequest" type="tns:GetProductSearchDataVersionRequest"/>
            <xs:complexType name="GetProductSearchDataVersionRequest">
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="GetProductSearchDataVersionResponse">
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="namesDetails" type="tns:VersionDetails"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="valueDetails" type="tns:VersionDetails"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="VersionDetails">
                <xs:sequence>
                    <xs:element name="version" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							     version of the metadata
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="updateTime" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>
							     last update time of the metadata
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
                </xs:sequence>
            </xs:complexType>
            <xsd:complexType abstract="true" name="BaseServiceRequest">
                <xsd:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType abstract="true" name="BaseServiceResponse">
                <xsd:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ack" type="tns:AckValue">
                        <xsd:annotation>
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls/>
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                            <xs:documentation/>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
                        <xsd:annotation>
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls/>
                                    <Returned>Conditionally</Returned>
                                </CallInfo>
                            </xs:appinfo>
                            <xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="version" type="xsd:string">
                        <xsd:annotation>
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls/>
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                            <xs:documentation/>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime">
                        <xsd:annotation>
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls/>
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                            <xs:documentation/>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ErrorCategory">
                <xsd:annotation>
					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Documentation goes here.
					</xs:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="System"/>
                    <xsd:enumeration value="Application"/>
                    <xsd:enumeration value="Request"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ErrorData">
                <xsd:annotation>
                    <xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Documentation goes here
					</xs:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="errorId" type="xsd:long"/>
                    <xsd:element name="domain" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="subdomain" type="xsd:string"/>
                    <xsd:element name="severity" type="tns:ErrorSeverity"/>
                    <xsd:element name="category" type="tns:ErrorCategory"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="exceptionId" type="xsd:token"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorMessage">
                <xsd:annotation>
                    <xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Documentation goes here
					</xs:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorParameter">
                <xsd:annotation>
                    <xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Documentation goes here
					</xs:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="name" type="xsd:string" use="optional"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ErrorSeverity">
                <xsd:annotation>
					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/>
					</xs:appinfo>
                    <xs:documentation>
						Documentation goes here.
					</xs:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="Error"/>
                    <xsd:enumeration value="Warning"/>
                </xsd:restriction>
            </xsd:simpleType>
<xs:complexType name="NumericValue">
		<xs:annotation>
			<xs:documentation>
				This class holds a numeric value
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:string">
				<xs:annotation>
					<xs:documentation>a number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="unitOfMeasurement" type="xs:token">
				<xs:annotation>
					<xs:documentation>
						UOM of this value. List of valid values are:
						bps, kbps, bit, byte, kb, MB, mW, W, Hz, kHz, m,
						mm, rph, hr, min, ms, ns, sec, g, lbs This is
						optional b/c UOM may not apply to all numeric
						values (e.g. number of doors)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="Properties">
        <xs:annotation><xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="metadataVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Version information reflects the latest update
						of the properties or values.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" name="propertyName" type="tns:Property">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="dataset" type="xs:token"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="Property">
        <xs:annotation><xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="propertyName" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						This is the canonical name of the property. Used
						to identify a property within a catalog that
						this category belongs to.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="propertyNameMetadata" type="tns:PropertyNameMetadata">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="propertyDisplayName" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						This will be the display name of the property
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="PropertyNameMetadata">
		<xs:annotation>
			<xs:documentation>
				This will contain any metadata about the propert name.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="displaySequence" type="xs:int">
			</xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="PropertyNameValue">
        <xs:annotation><xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="propertyName" type="xs:string">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="value" type="tns:Value">
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="childPropertyNameValue" type="tns:PropertyNameValue"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="PropertyValue">
        <xs:annotation><xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="propertyName" type="xs:string">
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="tns:Value">
			</xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="StringValue">
				<xs:annotation>
					<xs:documentation>
						This class holds a String value
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								a string value
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
				</xs:sequence>
			</xs:complexType><xs:complexType name="URIValue">
		<xs:annotation>
			<xs:documentation>
				This class holds a URL value
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>
						as part of request, this will be the URL to
						download media file as part of response, this
						will be the URL where the media file is stored
						on EPS
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="Value">
        <xs:annotation><xs:appinfo><typeLibrarySource library="MarketplaceCatalogDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/marketplacecatalog/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>
						A value can be one of the types given below.
					</xs:documentation>
				</xs:annotation>
				<xs:element name="text" type="tns:StringValue">
					<xs:annotation>
						<xs:documentation>
							For string value type.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="number" type="tns:NumericValue">
					<xs:annotation>
						<xs:documentation>
							For numeric value type.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="URL" type="tns:URIValue">
					<xs:annotation>
						<xs:documentation>
							For URL value type.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
	</xs:complexType><xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"/></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
	
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
	
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
	
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
		</xs:restriction>
	</xs:simpleType></xs:schema>
    </wsdl:types>
    <wsdl:message name="getCompatibilitySearchValuesResponse">
        <wsdl:part element="ns0:getCompatibilitySearchValuesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductSearchValuesRequest">
        <wsdl:part element="ns0:getProductSearchValuesRequest" name="parameters">
            <wsdl:documentation>
				Request object for getPropertyValues operation.
			</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProductSearchValuesBulkRequest">
        <wsdl:part element="ns0:getProductSearchValuesBulkRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchValuesBulkResponse">
        <wsdl:part element="ns0:getCompatibilitySearchValuesBulkResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchValuesBulkRequest">
        <wsdl:part element="ns0:getCompatibilitySearchValuesBulkRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductSearchValuesBulkResponse">
        <wsdl:part element="ns0:getProductSearchValuesBulkResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductSearchNamesResponse">
        <wsdl:part element="ns0:getProductSearchNamesResponse" name="parameters">
            <wsdl:documentation>
				Response object for getPropertiesInCatalog operation.
			</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchValuesRequest">
        <wsdl:part element="ns0:getCompatibilitySearchValuesRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductSearchValuesResponse">
        <wsdl:part element="ns0:getProductSearchValuesResponse" name="parameters">
            <wsdl:documentation>
				Response object for getPropertyValues operation.
			</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProductSearchNamesRequest">
        <wsdl:part element="ns0:getProductSearchNamesRequest" name="parameters">
            <wsdl:documentation>
				Request object for getPropertiesInCatalog operation.
			</wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchNamesResponse">
        <wsdl:part element="ns0:getCompatibilitySearchNamesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchNamesRequest">
        <wsdl:part element="ns0:getCompatibilitySearchNamesRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductSearchDataVersionRequest">
        <wsdl:part element="ns0:getProductSearchDataVersionRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getProductSearchDataVersionResponse">
        <wsdl:part element="ns0:getProductSearchDataVersionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchDataVersionRequest">
        <wsdl:part element="ns0:getCompatibilitySearchDataVersionRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCompatibilitySearchDataVersionResponse">
        <wsdl:part element="ns0:getCompatibilitySearchDataVersionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ProductMetadataServicePortType">
        <wsdl:operation name="getProductSearchNames">
            <wsdl:documentation>
				This Operation returns all properties which are
				available for a given catalog enabled category. These
				properties, along with their respective values, can be
				used to query the catalog via find and get product
				operations

				For example If the input is parts category id, the
				properties would be (according to the dependency graph):
				&amp;quot;Part type &amp;quot;, &amp;quot;Sub part type
				&amp;quot;, &amp;quot;Manufacturer &amp;quot; if the
				input is tires category id, the properties would be
				(according to the dependency graph):
				&amp;quot;Manufacturer &amp;quot;, &amp;quot;Tire Width
				&amp;quot;, &amp;quot;Aspect Ratio &amp;quot;,
				&amp;quot;Diameter &amp;quot;, &amp;quot;Load Index
				&amp;quot;, &amp;quot;Speed Index &amp;quot;

			</wsdl:documentation>
            <wsdl:input message="ns0:getProductSearchNamesRequest"/>
            <wsdl:output message="ns0:getProductSearchNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchNames">
            <wsdl:documentation>
				This operation will provide the ability to get
				properties of the application. For example,If the input
				is Tires category Id then the response would be the
				properties : &amp;quot;Make &amp;quot;, &amp;quot;Model
				&amp;quot;, &amp;quot;Year &amp;quot;, &amp;quot;Trim
				&amp;quot;, &amp;quot;Engine &amp;quot;
			</wsdl:documentation>
            <wsdl:input message="ns0:getCompatibilitySearchNamesRequest"/>
            <wsdl:output message="ns0:getCompatibilitySearchNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProductSearchValues">
            <wsdl:documentation>
				This will contain the response for the propertyValues.
				If the category is fitment enabled then we will have the
				propertyValueTree populated. If the category is not
				fitment enabled then we will generate the propertyValues
				which will be a list of values for each property and not
				a dependency tree


				For example,In case of fitment enabled category, For the
				input tire category id, get me all possible values for a
				property (e.g. Aspect Ratio) , constrained by one or
				more properties (e.g. Tire Width= &amp;quot;225
				&amp;quot;, AND Brand= &amp;quot;Bridgestone &amp;quot;)

				Returns a list of all available aspect ratios for
				Bridgestone tires which have a tire width of 225.


			</wsdl:documentation>
            <wsdl:input message="ns0:getProductSearchValuesRequest"/>
            <wsdl:output message="ns0:getProductSearchValuesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProductSearchValuesBulk">
            <wsdl:documentation>
				This will enable the user to get property values for
				more than one field. This will allow the user to get
				values for upto 10 fields.This operation will be Rate
				limited.
			</wsdl:documentation>
            <wsdl:input message="ns0:getProductSearchValuesBulkRequest"/>
            <wsdl:output message="ns0:getProductSearchValuesBulkResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchValues">
            <wsdl:documentation>
				This operation will provide the property values for the
				application category. Input will be the category id of
				the interface category. This operation will only allow
				the user to get one field at a time

				For input Tires category id, Get me all possible values
				for a property (e.g. Engine) , constrained by one or
				more properties (e.g. Make= &amp;quot;Honda &amp;quot;,
				Namespace= &amp;quot;Application &amp;quot; AND Model=
				&amp;quot;Civic &amp;quot; AND Year= &amp;quot;1997
				&amp;quot;)

				Returns a list of all available engines for a 1997 Honda
				Civic
			</wsdl:documentation>
            <wsdl:input message="ns0:getCompatibilitySearchValuesRequest"/>
            <wsdl:output message="ns0:getCompatibilitySearchValuesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchValuesBulk">
            <wsdl:documentation>
				This will enable the user to get compatibiltiy property
				values for more than one field. This will allow the user
				to get values for upto 10 fields.This operation will be
				Rate limited.
			</wsdl:documentation>
            <wsdl:input message="ns0:getCompatibilitySearchValuesBulkRequest"/>
            <wsdl:output message="ns0:getCompatibilitySearchValuesBulkResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProductSearchDataVersion">
            <wsdl:documentation>
				This will return the metadata version of the name and/or
				value metadata for the input catalog id.
			</wsdl:documentation>
            <wsdl:input message="ns0:getProductSearchDataVersionRequest"/>
            <wsdl:output message="ns0:getProductSearchDataVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchDataVersion">
            <wsdl:documentation>
				This will return the metadata version of the name and/or
				value metadata for the compatibility catalog
			</wsdl:documentation>
            <wsdl:input message="ns0:getCompatibilitySearchDataVersionRequest"/>
            <wsdl:output message="ns0:getCompatibilitySearchDataVersionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductMetadataServiceSOAP12Binding" type="ns0:ProductMetadataServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProductSearchNames">
            <soap12:operation soapAction="urn:getProductSearchNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductSearchValues">
            <soap12:operation soapAction="urn:getProductSearchValues" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchNames">
            <soap12:operation soapAction="urn:getCompatibilitySearchNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductSearchValuesBulk">
            <soap12:operation soapAction="urn:getProductSearchValuesBulk" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchValues">
            <soap12:operation soapAction="urn:getCompatibilitySearchValues" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchValuesBulk">
            <soap12:operation soapAction="urn:getCompatibilitySearchValuesBulk" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductSearchDataVersion">
            <soap12:operation soapAction="urn:getProductSearchDataVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCompatibilitySearchDataVersion">
            <soap12:operation soapAction="urn:getCompatibilitySearchDataVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductMetadataService">
        <xsd:annotation>
    		<xsd:appinfo>
    			<tns:version>1.1</tns:version>
    		</xsd:appinfo>
    		<wsdl:documentation>
				This service provides the ability to get product medata.
				Metadata includes product property names and values. This
				also provides the ability to get metadata about specific
				kind of properties like searchable, sortable, displayable
				etc
				<Version>1.1.0</Version>
        	</wsdl:documentation>
        </xsd:annotation>
        <wsdl:port binding="ns0:ProductMetadataServiceSOAP12Binding" name="ProductMetadataServiceSOAP12port_http">
            <soap12:address location="http://svcs.ebay.com/services/marketplacecatalog/ProductMetadataService/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>