wsdl-doc-tool/src/test/resources/sampleWsdl/TaskExecutionServiceService(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://websvc.app.tes.ebay.com" xmlns:intf="http://websvc.app.tes.ebay.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://tos.app.tes.ebay.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://websvc.app.tes.ebay.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://tos.app.tes.ebay.com">
   <import namespace="http://websvc.app.tes.ebay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TesTaskParamMetaTO">
    <sequence>
     <element name="required" nillable="true" type="soapenc:string"/>
     <element name="range" nillable="true" type="soapenc:string"/>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="override" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="inputRequired" nillable="true" type="soapenc:string"/>
     <element name="paramName" nillable="true" type="soapenc:string"/>
     <element name="validator" nillable="true" type="soapenc:string"/>
     <element name="defaultValue" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="TesTaskMetaTO">
    <sequence>
     <element name="taskComamnd" nillable="true" type="soapenc:string"/>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="tesTaskMetaParamTOs" nillable="true" type="impl:ArrayOf_tns2_TesTaskParamMetaTO"/>
     <element name="comments" nillable="true" type="soapenc:string"/>
     <element name="executionType" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://websvc.app.tes.ebay.com">
   <import namespace="http://tos.app.tes.ebay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_TesTaskParamMetaTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:TesTaskParamMetaTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_TesTaskMetaTO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:TesTaskMetaTO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getListOfTaskRequest">

      <wsdl:part name="taskId" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getListOfTaskResponse">

      <wsdl:part name="getListOfTaskReturn" type="intf:ArrayOf_tns2_TesTaskMetaTO"/>

   </wsdl:message>

   <wsdl:portType name="TaskExecutionService">

      <wsdl:operation name="getListOfTask" parameterOrder="taskId">

         <wsdl:input message="intf:getListOfTaskRequest" name="getListOfTaskRequest"/>

         <wsdl:output message="intf:getListOfTaskResponse" name="getListOfTaskResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TaskExecutionServiceHttpSoap11EndpointSoapBinding" type="intf:TaskExecutionService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getListOfTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getListOfTaskRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://websvc.app.tes.ebay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getListOfTaskResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://websvc.app.tes.ebay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TaskExecutionServiceService">

      <wsdl:port binding="intf:TaskExecutionServiceHttpSoap11EndpointSoapBinding" name="TaskExecutionServiceHttpSoap11Endpoint">

         <wsdlsoap:address location="http://localhost:8080/tes/services/TaskExecutionServiceHttpSoap11Endpoint"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>