wsdl-doc-tool/src/test/resources/sampleWsdl/WeeklyReportPublisherService(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="urn:wsmanager.turboroller.ebay.com" xmlns:intf="urn:wsmanager.turboroller.ebay.com" xmlns:tns1="http://to.common.turboroller.ebay.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="urn:wsmanager.turboroller.ebay.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:wsmanager.turboroller.ebay.com">
   <import namespace="http://to.common.turboroller.ebay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Authentication">
    <sequence>
     <element name="applicationName" nillable="true" type="xsd:string"/>
     <element name="ip" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://to.common.turboroller.ebay.com">
   <import namespace="urn:wsmanager.turboroller.ebay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WeeklyReportTo">
    <sequence>
     <element name="avgSizeOfPkg" nillable="true" type="xsd:string"/>
     <element name="machineActivedFailure" nillable="true" type="xsd:string"/>
     <element name="machineActivedSuccessfulProd" nillable="true" type="xsd:string"/>
     <element name="noPkgNotDeliver" nillable="true" type="xsd:string"/>
     <element name="pkgActivedInProd" nillable="true" type="xsd:string"/>
     <element name="pkgDelverViaTiv" nillable="true" type="xsd:string"/>
     <element name="pkgStagedNotActived" nillable="true" type="xsd:string"/>
     <element name="pkgWithHomePage" nillable="true" type="xsd:string"/>
     <element name="stagingProdFailureRate" nillable="true" type="xsd:string"/>
     <element name="totalAmountCodeInTera" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getWeeklyReportDataResponse">

      <wsdl:part name="getWeeklyReportData" type="tns1:WeeklyReportTo"/>

   </wsdl:message>

   <wsdl:message name="getWeeklyReportDataRequest">

      <wsdl:part name="auth" type="impl:Authentication"/>

      <wsdl:part name="lastWeek" type="xsd:date"/>

      <wsdl:part name="currentWeek" type="xsd:date"/>

   </wsdl:message>

   <wsdl:portType name="WeeklyReportPublisher">

      <wsdl:operation name="getWeeklyReportData" parameterOrder="auth lastWeek currentWeek">

         <wsdl:input message="impl:getWeeklyReportDataRequest" name="getWeeklyReportDataRequest"/>

         <wsdl:output message="impl:getWeeklyReportDataResponse" name="getWeeklyReportDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WeeklyReportPublisherSoapBinding" type="impl:WeeklyReportPublisher">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getWeeklyReportData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWeeklyReportDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:wsmanager.turboroller.ebay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWeeklyReportDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:wsmanager.turboroller.ebay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WeeklyReportPublisherService">

      <wsdl:port binding="impl:WeeklyReportPublisherSoapBinding" name="WeeklyReportPublisher">

         <wsdlsoap:address location="http://tr2api.vip.ebay.com/TurboRoller/services/WeeklyReportPublisher"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>