src/test/resources/sampleWsdl/FileTransferPrivateService(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.ebay.com/marketplace/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="FileTransferPrivateService" targetNamespace="http://www.ebay.com/marketplace/services">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/services">


<xs:element name="createFileEntryRequest" nillable="true" type="tns:CreateFileEntryRequest"/>
<xs:element name="createFileEntryResponse" nillable="true" type="tns:CreateFileEntryResponse"/>
<xs:element name="updateFileEntryRequest" nillable="true" type="tns:UpdateFileEntryRequest"/>
<xs:element name="updateFileEntryResponse" nillable="true" type="tns:UpdateFileEntryResponse"/>
<xs:element name="getFileEntryDetailsRequest" nillable="true" type="tns:GetFileEntryDetailsRequest"/>
<xs:element name="getFileEntryDetailsResponse" nillable="true" type="tns:GetFileEntryDetailsResponse"/>

<xs:complexType name="CreateFileEntryRequest">
	<xs:annotation>
		<xs:documentation>
			Create file entry request.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Create file entry request.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">
			<xs:sequence>
				<xs:element minOccurs="0" name="taskReferenceId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							external Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="clientId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							client Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="maxFileSize" type="xs:long">
					<xs:annotation>
						<xs:documentation>
							max allowed file size.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileName" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							file name.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>				
				<xs:element minOccurs="0" name="fileServerURL" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>
							file Server Url.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>No</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileSize" type="xs:long">
					<xs:annotation>
						<xs:documentation>
							file size.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="userId" type="xs:long">
					<xs:annotation>
						<xs:documentation>
							external Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="purgeTime" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>
							Date after which the file needs to be purged.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>No</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileAccess" type="xs:token">
					<xs:annotation>
						<xs:documentation>
							File Access.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>No</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
		</xs:complexContent>
</xs:complexType>
<xs:complexType name="UpdateFileEntryRequest">
	<xs:annotation>
		<xs:documentation>
			Update file entry request.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Update file entry request.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">	
			<xs:sequence>
				<xs:element minOccurs="1" name="fileReferenceId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							file reference Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="taskReferenceId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							external Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							file location.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="maxFileSize" type="xs:int">
					<xs:annotation>
						<xs:documentation>
							max allowed file size.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileStatus" type="tns:FileStatus">
					<xs:annotation>
						<xs:documentation>
							file status.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileSize" type="xs:int">
					<xs:annotation>
						<xs:documentation>
							file size.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>				
				<xs:element minOccurs="0" name="fileServerURL" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>
							file Server Url.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>No</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileAccess" type="xs:token">
					<xs:annotation>
						<xs:documentation>
							File Access.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>No</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>				
			</xs:sequence>
		</xs:extension>
		</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetFileEntryDetailsRequest">
	<xs:annotation>
		<xs:documentation>
			Get file entry detail request.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Get file entry detail request.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
		<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">
			<xs:sequence>
				<xs:element minOccurs="1" name="taskReferenceId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							external Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="fileReferenceId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							file reference Id.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
		</xs:complexContent>
</xs:complexType>
<xs:complexType name="CreateFileEntryResponse">
	<xs:annotation>
		<xs:documentation>
			Create file entry response.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Create file entry response.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse">
			<xs:sequence>
				<xs:element minOccurs="1" name="fileEntry" type="tns:FileEntry">
					<xs:annotation>
						<xs:documentation>
							file entry.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="UpdateFileEntryResponse">
	<xs:annotation>
		<xs:documentation>
			Update file entry response.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Update file entry response.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse">
			<xs:sequence>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetFileEntryDetailsResponse">
	<xs:annotation>
		<xs:documentation>
			get file entry response.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				get file entry response.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse">
			<xs:sequence>
				<xs:element minOccurs="0" name="fileEntry" type="tns:FileEntry">
					<xs:annotation>
						<xs:documentation>
							file entry.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="FileEntry">
	<xs:annotation>
		<xs:documentation>
			File entry
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element minOccurs="0" name="taskReferenceId" type="xs:string">
			<xs:annotation>
				<xs:documentation>
							external Id
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="fileReferenceId" type="xs:string">
			<xs:annotation>
				<xs:documentation>
							file reference Id
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="fileAccess" type="xs:token">
			<xs:annotation>
				<xs:documentation>
							file access
				</xs:documentation>
			</xs:annotation>
		</xs:element>		
		<xs:element minOccurs="0" name="fileLocation" type="xs:string">
			<xs:annotation>
				<xs:documentation>
							file location
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="maxFileSize" type="xs:int">
			<xs:annotation>
				<xs:documentation>
							max allowed size
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="fileStatus" type="tns:FileStatus">
			<xs:annotation>
				<xs:documentation>
							file status
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="creationTime" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>
					        creation date
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="userId" type="xs:long">
			<xs:annotation>
				<xs:documentation>
							user Id
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="fileSize" type="xs:int">
			<xs:annotation>
				<xs:documentation>
							file size
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="compressionType" type="tns:CompressionType">
			<xs:annotation>
				<xs:documentation>
							compression
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
	</xs:sequence>
</xs:complexType>
<xs:simpleType name="FileStatus">
	<xs:annotation>
		<xs:documentation>
			File status.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Created">
			<xs:annotation>
				<xs:documentation>
					Created.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>		
		<xs:enumeration value="InProgress">
			<xs:annotation>
				<xs:documentation>
					InProgress.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="InValidFileAttachment">
			<xs:annotation>
				<xs:documentation>
					InValidFileAttachment.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Failed">
			<xs:annotation>
				<xs:documentation>
					Failed.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="MaxSizeExceeded">
			<xs:annotation>
				<xs:documentation>
					MaxSizeExceeded.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>		
		<xs:enumeration value="Completed">
			<xs:annotation>
				<xs:documentation>
					Completed.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="OutputFile">
			<xs:annotation>
				<xs:documentation>
					OutputFile.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CompressionType">
	<xs:annotation>
		<xs:documentation>
			File compression.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="None">
			<xs:annotation>
				<xs:documentation>
					No compression.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="GZIP">
			<xs:annotation>
				<xs:documentation>
					GZIP.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="ZIP">
			<xs:annotation>
				<xs:documentation>
					Zip.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
<xs:complexType abstract="true" name="BaseServiceRequest">
	<xs:annotation>
		<xs:documentation>
			This is the base class for request container for all service operations.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType abstract="true" name="BaseServiceResponse">
	<xs:annotation>
		<xs:documentation>
			Base response container for all service operations. Contains error information
			associated with the request.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="ack" type="tns:AckValue">
			<xs:annotation>
				<xs:documentation>
					
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					Information for an error or warning that occurred when eBay processed the
					request.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>

		</xs:element>
		<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>		
		<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
	</xs:sequence>
</xs:complexType>


<xs:simpleType name="AckValue">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Success">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Failure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="PartialFailure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
<xs:complexType name="ErrorMessage">
	<xs:annotation>
		<xs:documentation>
			ErrorMessage to indicate any Error/Warning occured as part of service call.
			Any run time error will not be reported here, but will be reported aspart of
			soap fault.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:ErrorData">
			<xs:annotation>
				<xs:documentation>
					Details about a single error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorData">
	<xs:annotation>
		<xs:documentation>
			This represents error details.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="errorId" type="xs:long">
			<xs:annotation>
				<xs:documentation>
					A unique code that identifies the particular error condition that occurred.
					Your application can use error codes as identifiers in your customized
					error-handling algorithms.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="domain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the domain upon which the error occurred. 
					&lt;dl&gt;
					&lt;lh&gt;Domains include:&lt;/lh&gt;
					&lt;dt&gt;
						Marketplace
					&lt;/dt&gt;
					&lt;dd&gt;
						A business or validation error occurred for the Merchandising Service.
					&lt;/dd&gt;
					&lt;dt&gt;
						SOA
					&lt;/dt&gt;
					&lt;dd&gt;
						An exception occurred in the Service Oriented Architecture (SOA) framework.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="severity" type="tns:ErrorSeverity">
			<xs:annotation>
				<xs:documentation>
					Indicates whether the error caused the request to fail (Error) or not
					(Warning).
					&lt;br&gt;&lt;br&gt;
					If the request fails and the source of the problem is within the application
					(such as a missing required element), please change the application before you
					retry the request. If the problem is due to end-user input data, please alert
					the end-user to the problem and provide the means for them to correct the data.
					Once the problem in the application or data is resolved, you can attempt to re-
					send the request to eBay.
					&lt;br&gt;&lt;br&gt;
					If the source of the problem is on eBay's side, you can retry the request as-is
					a reasonable number of times (eBay recommends twice). If the error persists,
					contact Developer Technical Support. Once the problem has been resolved, the
					request may be resent in its original form.
					&lt;br&gt;&lt;br&gt;
					When a warning occurs, the error is returned in addition to the business data.
					In this case, you do not need to retry the request (as the original request was
					successful). However, depending on the cause or nature of the warning, you
					might need to contact either the end user or eBay to effect a long term
					solution to the problem to prevent it from reoccurring in the future.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="category" type="tns:ErrorCategory">
			<xs:annotation>
				<xs:documentation>
					There are three categories of errors: request errors, application errors, and
					system errors.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="message" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					A detailed description of the condition that resulted in the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="subdomain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the subdomain upon which the error occurred. 
					&lt;dl&gt;
					&lt;lh&gt;Subdomains include:&lt;/lh&gt;
					&lt;dt&gt;
						Merchandising
					&lt;/dt&gt;
					&lt;dd&gt;
						The error is specific to the Merchandising service.
					&lt;/dd&gt;
					&lt;dt&gt;
						MarketplaceCommon
					&lt;/dt&gt;
					&lt;dd&gt;
						The error is common to all Marketplace services.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="exceptionId" type="xs:token">
			<xs:annotation>
				<xs:documentation>
					Unique identifier for an exception associated with an error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="tns:ErrorParameter">
			<xs:annotation>
				<xs:documentation>
					Some warning and error messages return one or more variables that contain
					contextual information about the error. This is often the field or value that
					triggered the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorParameter">
	<xs:annotation>
		<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
	</xs:annotation>
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The name of the parameter in the list of parameter types returned
						within the error type.
					</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<AllCalls/>
								<Returned>Conditionally</Returned>
							</CallInfo>
						</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ErrorSeverity">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Error">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ErrorCategory">
	<xs:annotation>
		<xs:documentation>
			There are three categories of error: request errors, application errors,
			and system errors. Request and application errors are caused primarily by
			invalid data passed in the request. System errors are caused primarily by
			application failures and cannot be corrected by changing request values.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="System">
			<xs:annotation>
				<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Application">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be
					made again. If the problem is due to something in the application (such
					as a missing required field), the application must be changed. Once the
					problem in the application or data is resolved, resend the corrected
					request to eBay.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Request">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be
					made again. If the problem is a result of end-user data, the application
					must alert the end-user to the problem and provide the means for the
					end-user to correct the data. Once the problem in the data is resolved,
					resend the request to eBay with the corrected data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateFileEntryResponse">
    <wsdl:part element="tns:updateFileEntryResponse" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFileEntryDetailsRequest">
    <wsdl:part element="tns:getFileEntryDetailsRequest" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFileEntryResponse">
    <wsdl:part element="tns:createFileEntryResponse" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFileEntryRequest">
    <wsdl:part element="tns:createFileEntryRequest" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateFileEntryRequest">
    <wsdl:part element="tns:updateFileEntryRequest" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFileEntryDetailsResponse">
    <wsdl:part element="tns:getFileEntryDetailsResponse" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FileTransferPrivateServicePort">
    <wsdl:operation name="createFileEntry">
      <wsdl:input message="tns:createFileEntryRequest">
    </wsdl:input>
      <wsdl:output message="tns:createFileEntryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFileEntry">
      <wsdl:input message="tns:updateFileEntryRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateFileEntryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileEntryDetails">
      <wsdl:input message="tns:getFileEntryDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getFileEntryDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileTransferPrivateServiceHttpBinding" type="tns:FileTransferPrivateServicePort">
    <http:binding verb="POST"/>
    <wsdl:operation name="createFileEntry">
      <http:operation location="FileTransferPrivateService/createFileEntry"/>
      <wsdl:input>
        <mime:content part="createFileEntry" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="createFileEntry" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFileEntry">
      <http:operation location="FileTransferPrivateService/updateFileEntry"/>
      <wsdl:input>
        <mime:content part="updateFileEntry" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="updateFileEntry" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileEntryDetails">
      <http:operation location="FileTransferPrivateService/getFileEntryDetails"/>
      <wsdl:input>
        <mime:content part="getFileEntryDetails" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getFileEntryDetails" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileTransferPrivateServiceSOAPBinding" type="tns:FileTransferPrivateServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createFileEntry">
      <soap12:operation soapAction="urn:createFileEntry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFileEntry">
      <soap12:operation soapAction="urn:updateFileEntry" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileEntryDetails">
      <soap12:operation soapAction="urn:getFileEntryDetails" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileTransferPrivateService">
	<wsdl:documentation>
  		<Version>1.1.0</Version>
  	</wsdl:documentation>
    <wsdl:port binding="tns:FileTransferPrivateServiceSOAPBinding" name="FileTransferPrivateServiceSOAP">
      <soap12:address location="http://storage.ebay.com/FileTransferPrivateService"/>
    </wsdl:port>
    <wsdl:port binding="tns:FileTransferPrivateServiceHttpBinding" name="FileTransferPrivateServiceHttp">
      <http:address location="http://storage.ebay.com/FileTransferPrivateService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>