src/test/resources/sampleWsdl/RateLimiterService(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.ebay.com/marketplace/services" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ebay.com/marketplace/services">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.ebay.com/marketplace/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/services">

	    	<xs:complexType abstract="true" name="BaseServiceRequest">
			<xs:annotation>
				<xs:documentation>
					This is the base class for request container for all service operations.
				</xs:documentation>
			</xs:annotation>
		    	<xs:sequence>
				<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		    	</xs:sequence>
            	</xs:complexType>
            
    	<xs:complexType abstract="true" name="BaseServiceResponse">
	<xs:annotation>
		<xs:documentation>
			Base response container for all service operations. Contains error information
			associated with the request.
		</xs:documentation>
	</xs:annotation>

	<xs:sequence>
		<xs:element name="ack" type="tns:AckValue">
			<xs:annotation>
				<xs:documentation>
					
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>

					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					Information for an error or warning that occurred when eBay processed the
					request.
				</xs:documentation>

				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>

		<xs:element minOccurs="0" name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>

					</CallInfo>
				</xs:appinfo>
			</xs:annotation>

		</xs:element>
		<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>
				</xs:documentation>

				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>		
		<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>

	</xs:sequence>
</xs:complexType>

            
            	<xs:complexType abstract="true" name="BaseRateLimiterServiceRequest">
	    		<xs:annotation>
				<xs:documentation>
					This is the base class for request container for all operations in RateLimiter Service.
				</xs:documentation>
			</xs:annotation>
		    	<xs:complexContent>
				<xs:extension base="tns:BaseServiceRequest">
					<xs:sequence>
					    <xs:element minOccurs="1" name="resourceName" type="xs:string"/>
					    <xs:element minOccurs="1" name="operationName" type="xs:string"/>
					    <xs:element minOccurs="1" name="resourceType" type="xs:string"/>
					</xs:sequence>
				</xs:extension>
		    	</xs:complexContent>
            	</xs:complexType>
            	
            	<xs:complexType abstract="true" name="BaseRateLimiterServiceResponse">
			<xs:annotation>
				<xs:documentation>
					Base response container for all service operations in RateLimiter Service.
				</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
			    <xs:extension base="tns:BaseServiceResponse">
			    </xs:extension>
			</xs:complexContent>
            	</xs:complexType>
            
            	<xs:complexType name="isRateLimitedRequest">
			<xs:complexContent>
			    	<xs:extension base="tns:BaseRateLimiterServiceRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="subject" type="tns:SubjectType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="resolvedSubjectGroup" type="tns:SubjectGroupType"/>

					<xs:element maxOccurs="1" minOccurs="0" name="challengeAnswer" type="tns:ChallengeAnswer">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="attr" type="tns:NameValuePair"/>
				</xs:sequence>
			    	</xs:extension>
			</xs:complexContent>
            	</xs:complexType>
            
            	<xs:complexType name="isRateLimitedResponse">
			<xs:complexContent>
			    	<xs:extension base="tns:BaseRateLimiterServiceResponse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="status" type="tns:RateLimiterStatus"/>


					<xs:element maxOccurs="unbounded" minOccurs="0" name="resolvedSubjectGroup" type="tns:SubjectGroupType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="challenge" type="tns:Challenge"/>
				</xs:sequence>
			    	</xs:extension>
			</xs:complexContent>
            	</xs:complexType>    
            	
         <xs:simpleType name="RateLimiterStatus">
			<xs:annotation>
				<xs:documentation>
					return the Rate Limiter Status
				</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SERVE_OK">
					<xs:annotation>
						<xs:documentation>
							No Block from Rate Limiter			
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="FLAG">
					<xs:annotation>
						<xs:documentation>
							Flaged by Rate Limiter
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="SERVE_GIF">
					<xs:annotation>
						<xs:documentation>
							Server Gif by Rate Limiter
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="BLOCK">
					<xs:annotation>
						<xs:documentation>
							Block by Rate Limiter
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="RequestHasBeenServed">
					<xs:annotation>
						<xs:documentation>
							Request Has Been Served by Rate Limiter
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Invalid">
					<xs:annotation>
						<xs:documentation>
							Invalid
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>        

		<xs:complexType name="SubjectType">
			<xs:sequence>
			    <xs:element name="domain" type="xs:string"/>
			    <xs:element name="value" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>

            	<xs:complexType name="SubjectGroupType">
			<xs:sequence>
				<xs:element name="domain" type="xs:string"/>
			    <xs:element name="name" type="xs:string"/>
			</xs:sequence>
                	<xs:attribute name="calculator" type="xs:string" use="optional"/>
            	</xs:complexType>


        <xs:simpleType name="AckValue">
			<xs:annotation>
				<xs:documentation>
					Indicates whether the error is a severe error (causing the request to fail)
					or an informational error (a warning) that should be communicated to the
					user.
				</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Success">
					<xs:annotation>
						<xs:documentation>
							The request was processed successfully, but something occurred that may
							affect your application or the user.				
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Failure">
					<xs:annotation>
						<xs:documentation>
							The request that triggered the error was not processed successfully.
							When a serious application-level error occurs, the error is returned
							instead of the business data.
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Warning">
					<xs:annotation>
						<xs:documentation>
							The request that triggered the error was processed successfully but with some warnings.
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="PartialFailure">
					<xs:annotation>
						<xs:documentation>
							The request that triggered the error was processed successfully but with some warnings.
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>

	    	<xs:complexType name="ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					ErrorMessage to indicate any Error/Warning occured as part of service call.
					Any run time error will not be reported here, but will be reported aspart of
					soap fault.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
			    <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:ErrorData"/>
			</xs:sequence>
            	</xs:complexType>
            
            	<xs:complexType name="ErrorData">
			<xs:annotation>
				<xs:documentation>
					This represents error details.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
			    <xs:element name="errorId" type="xs:long"/>
			    <xs:element name="domain" type="xs:string"/>
			    <xs:element name="severity" type="tns:ErrorSeverity"/>
			    <xs:element name="category" type="tns:ErrorCategory"/>
			    <xs:element name="message" type="xs:string"/>
			    <xs:element minOccurs="0" name="subdomain" type="xs:string"/>
			    <xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
			    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="tns:ErrorParameter"/>
			</xs:sequence>
            	</xs:complexType>
            
            	<xs:complexType name="ErrorParameter">
			<xs:annotation>
				<xs:documentation>
					represent contextual data associated with an error.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleContent>
			    <xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"/>
			    </xs:extension>
			</xs:simpleContent>
            	</xs:complexType>
            
            	<xs:simpleType name="ErrorSeverity">
			<xs:annotation>
				<xs:documentation>
					Reprents the level of error. E.g. Error/Warning
				</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
			    <xs:enumeration value="Error"/>
			    <xs:enumeration value="Warning"/>
			</xs:restriction>
            	</xs:simpleType>
            
            	<xs:simpleType name="ErrorCategory">
			<xs:annotation>
				<xs:documentation>
					Reprents the error catagorization. Request and Application Error are mostly occured due to 
					invalid data passed in request. System Error cannot be fixed by changing request values and 
					mostly occured due to application failure.						 
				</xs:documentation>
			</xs:annotation>
                	<xs:restriction base="xs:string">
			    <xs:enumeration value="System"/>
			    <xs:enumeration value="Application"/>
			    <xs:enumeration value="Request"/>
			</xs:restriction>
            	</xs:simpleType>
            
		<xs:element name="isRateLimitedRequest" nillable="true" type="tns:isRateLimitedRequest"/>
		<xs:element name="isRateLimitedResponse" nillable="true" type="tns:isRateLimitedResponse"/>
        
            
        
    
		<xs:complexType name="NameValuePair">
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="value" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
    
		<xs:complexType name="ChallengeAnswer">
			<xs:sequence>
				<xs:element name="token" type="xs:string"/>
				<xs:element name="userInput" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
		
            <xs:complexType name="Challenge">
            	<xs:sequence>
            		<xs:element name="token" type="xs:string"/>
            		<xs:element name="tokenURL" type="xs:string"/>
            	</xs:sequence>
            </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="isRateLimitedRequest">
    <wsdl:part element="ns0:isRateLimitedRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isRateLimitedResponse">
    <wsdl:part element="ns0:isRateLimitedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RateLimiterServicePort">
    <wsdl:operation name="isRateLimited">
      <wsdl:input message="ns0:isRateLimitedRequest">
    </wsdl:input>
      <wsdl:output message="ns0:isRateLimitedResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RateLimiterServiceSOAP11Binding" type="ns0:RateLimiterServicePort">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="isRateLimited">

  		<soap:operation soapAction="http://www.ebay.com/marketplace/services/isRateLimited"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>

  </wsdl:binding>
  <wsdl:binding name="RateLimiterServiceSOAP12Binding" type="ns0:RateLimiterServicePort">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="isRateLimited">

  		<soap:operation soapAction="http://www.ebay.com/marketplace/services/isRateLimited"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RateLimiterServiceHttpBinding" type="ns0:RateLimiterServicePort">

  	<http:binding verb="GET"/>
  	<wsdl:operation name="isRateLimited">

  		<http:operation location="/isRateLimited"/>
  		<wsdl:input>

  			<http:urlEncoded/>
  		</wsdl:input>
  		<wsdl:output>
  			<mime:content type="text/xml"/>

  		</wsdl:output>
  	</wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="RateLimiterService">
    <wsdl:port binding="ns0:RateLimiterServiceSOAP11Binding" name="RateLimiterServiceSOAP11port_http">
      <soap:address location="http://localhost:8080/RateLimiterService"/>
    </wsdl:port>
    <wsdl:port binding="ns0:RateLimiterServiceSOAP12Binding" name="RateLimiterServiceSOAP12port_http">
      <soap12:address location="http://localhost:8080/RateLimiterService"/>
    </wsdl:port>
    <wsdl:port binding="ns0:RateLimiterServiceHttpBinding" name="RateLimiterServiceHttpport">
      <http:address location="http://localhost:8080/RateLimiterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>