src/test/resources/sampleWsdl/ResolutionCaseService(1.0.0).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.ebay.com/marketplace/resolution/v1/services" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ebay.com/marketplace/resolution/v1/services">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.ebay.com/marketplace/resolution/v1/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/resolution/v1/services">

      <xs:element name="getResolutionCaseInfoRequest" type="tns:GetResolutionCaseInfoRequest"/>
      <xs:element name="getResolutionCaseInfoResponse" type="tns:GetResolutionCaseInfoResponse"/>
	  <xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			
	  <xs:simpleType name="ReferenceIdType">
		<xs:annotation>
			<xs:documentation>[PD]Reference types enumerations
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		  <xs:enumeration value="PayPalTransactionId">
		    <xs:annotation>
			  <xs:documentation>[PD]PayPal Transaction ID from seller's view</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
		</xs:restriction>
      </xs:simpleType>
	
      <xs:simpleType name="ResolutionCaseStatus">
		<xs:annotation>
		  <xs:documentation>[PD]Resolution case status enumerations</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		  <xs:enumeration value="Open">
		    <xs:annotation>
			  <xs:documentation>[PD]Case open</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
		  <xs:enumeration value="NoCase">
			<xs:annotation>
			  <xs:documentation>[PD]No case</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
		  <xs:enumeration value="ClosedInBuyerFavor">
			<xs:annotation>
			  <xs:documentation>[PD]Case closed in buyer favor</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
          <xs:enumeration value="ClosedInSellerFavor">
			<xs:annotation>
			  <xs:documentation>[PD]Case closed in seller favor</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
		  <xs:enumeration value="ClosedOther">
			<xs:annotation>
			  <xs:documentation>[PD]Case closed other scenarios</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
		</xs:restriction>
	  </xs:simpleType>
	
	  <xs:simpleType name="ResponseCode">
		<xs:annotation>
		  <xs:documentation>[PD]Response code enumerations</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		  <xs:enumeration value="Success">
			<xs:annotation>
			  <xs:documentation>[PD]Processing success, resolution case information retrieved successfully</xs:documentation>
		    </xs:annotation>
		  </xs:enumeration>
		  <xs:enumeration value="NoDataFound">
			<xs:annotation>
			  <xs:documentation>[PD]Processing success, but no data found based on request information, maybe reference Id in request is invalid</xs:documentation>
			  </xs:annotation>
		  </xs:enumeration>
		  <xs:enumeration value="RuntimeError">
			<xs:annotation>
			  <xs:documentation>[PD]Processing fail, because some internal error, client may have a retry</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
		</xs:restriction>
	  </xs:simpleType>

      <xs:complexType name="ItemResolutionCase">
        <xs:annotation>
          <xs:documentation>[PD]Contains resolution case status of each item</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="itemId" type="xs:long">
            <xs:annotation>
              <xs:documentation>[PD]The item Id</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <CallName>getResolutionCaseInfo</CallName>
                  <Returned>Always</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="resolutionCaseStatus" type="tns:ResolutionCaseStatus">
            <xs:annotation>
              <xs:documentation>[PD]Case status</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <CallName>getResolutionCaseInfo</CallName>
                  <Returned>Always</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>          
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
        </xs:sequence>
      </xs:complexType>
      
      
      <xs:complexType abstract="true" name="BaseServiceRequest">
        <xs:annotation>
          <xs:documentation>[PD]This is the base class for request container for all service operations.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
        </xs:sequence>
      </xs:complexType>

	<xs:complexType abstract="true" name="BaseServiceResponse">
        <xs:annotation>
          <xs:documentation>[PD]Base response container for all service operations. Contains error information
            associated with the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="ack" type="tns:AckValue">
            <xs:annotation>
              <xs:documentation>[PD]ack</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Always</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
            <xs:annotation>
              <xs:documentation>[PD]Information for an error or warning that occurred when eBay processed the
                request.</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="version" type="xs:string">
            <xs:annotation>
              <xs:documentation>[PD]version</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Always</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>[PD]dateTime</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Always</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
        </xs:sequence>
      </xs:complexType>
      
      <xs:simpleType name="AckValue">
	    <xs:annotation>
		  <xs:documentation>[PD]Indicates whether the error is a severe error (causing the request to fail)
					or an informational error (a warning) that should be communicated to the
					user.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		  <xs:enumeration value="Success">
			<xs:annotation>
			  <xs:documentation>[PD]The request was processed successfully, but something occurred that may
				affect your application or the user.</xs:documentation>
			</xs:annotation>
		  </xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
					<xs:documentation>[PD]The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>[PD]The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>[PD]The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		  </xs:restriction>
		</xs:simpleType>

    	<xs:complexType name="ErrorMessage">
		  <xs:annotation>
			<xs:documentation>[PD]ErrorMessage to indicate any Error/Warning occured as part of service call.
				Any run time error will not be reported here, but will be reported aspart of
				soap fault.
			</xs:documentation>
		  </xs:annotation>
		  <xs:sequence>
		    <xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
		  </xs:sequence>
        </xs:complexType>
            	
        <xs:complexType name="ErrorData">
        <xs:annotation>
          <xs:documentation>[PD]This represents error details.
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="errorId" type="xs:long">
            <xs:annotation>
              <xs:documentation>[PD]A unique code that identifies the particular error condition that occurred.
                Your application can use error codes as identifiers in your customized
                error-handling algorithms.</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="domain" type="xs:string">
            <xs:annotation>
              <xs:documentation>[PD]Name of the domain upon which the error occurred.
                &lt;dl&gt;
                &lt;lh&gt;Domains include:&lt;/lh&gt;
                &lt;dt&gt;
                Marketplace
                &lt;/dt&gt;
                &lt;dd&gt;
                A business or validation error occurred for the Easy Return Service.
                &lt;/dd&gt;
                &lt;dt&gt;
                SOA
                &lt;/dt&gt;
                &lt;dd&gt;
                An exception occurred in the Service Oriented Architecture (SOA) framework.
                &lt;/dd&gt;
                &lt;/dl&gt;</xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="severity" type="tns:ErrorSeverity">
            <xs:annotation>
              <xs:documentation>[PD]Indicates whether the error caused the request to fail (Error) or not
                (Warning).
                &lt;br&gt;&lt;br&gt;
                If the request fails and the source of the problem is within the application
                (such as a missing required element), please change the application before you
                retry the request. If the problem is due to end-user input data, please alert
                the end-user to the problem and provide the means for them to correct the data.
                Once the problem in the application or data is resolved, you can attempt to re-
                send the request to eBay.
                &lt;br&gt;&lt;br&gt;
                If the source of the problem is on eBay's side, you can retry the request as-is
                a reasonable number of times (eBay recommends twice). If the error persists,
                contact Developer Technical Support. Once the problem has been resolved, the
                request may be resent in its original form.
                &lt;br&gt;&lt;br&gt;
                When a warning occurs, the error is returned in addition to the business data.
                In this case, you do not need to retry the request (as the original request was
                successful). However, depending on the cause or nature of the warning, you
                might need to contact either the end user or eBay to effect a long term
                solution to the problem to prevent it from reoccurring in the future.
              </xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="category" type="tns:ErrorCategory">
            <xs:annotation>
              <xs:documentation>[PD]There are three categories of errors: request errors, application errors, and
                system errors.
              </xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="message" type="xs:string">
            <xs:annotation>
              <xs:documentation>[PD]A detailed description of the condition that resulted in the error.
              </xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="subdomain" type="xs:string">
            <xs:annotation>
              <xs:documentation>[PD]Name of the subdomain upon which the error occurred.
                &lt;dl&gt;
                &lt;lh&gt;Subdomains include:&lt;/lh&gt;
                &lt;dt&gt;
                Easy Return
                &lt;/dt&gt;
                &lt;dd&gt;
                The error is specific to the Easy return service.
                &lt;/dd&gt;
                &lt;dt&gt;
                MarketplaceCommon
                &lt;/dt&gt;
                &lt;dd&gt;
                The error is common to all Marketplace services.
                &lt;/dd&gt;
                &lt;/dl&gt;
              </xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="exceptionId" type="xs:token">
            <xs:annotation>
              <xs:documentation>[PD]Unique identifier for an exception associated with an error.
              </xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
            <xs:annotation>
              <xs:documentation>[PD]Some warning and error messages return one or more variables that contain
                contextual information about the error. This is often the field or value that
                triggered the error.
              </xs:documentation>
              <xs:appinfo>
                <CallInfo>
                  <AllCalls/>
                  <Returned>Conditionally</Returned>
                </CallInfo>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      
      <xs:complexType name="ErrorParameter">
        <xs:annotation>
          <xs:documentation>[PD]Contextual information associated with an error.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
          <xs:extension base="xs:string">
              <xs:annotation>
                <xs:documentation>[PD]The name of the parameter in the list of parameter types returned
                  within the error type.
                </xs:documentation>
                <xs:appinfo>
                  <CallInfo>
                    <AllCalls/>
                    <Returned>Conditionally</Returned>
                  </CallInfo>
                </xs:appinfo>
              </xs:annotation>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>


      <xs:simpleType name="ErrorSeverity">
        <xs:annotation>
          <xs:documentation>[PD]Indicates whether the error is a severe error (causing the request to fail)
            or an informational error (a warning) that should be communicated to the
            user.
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Error">
            <xs:annotation>
              <xs:documentation>[PD]The request that triggered the error was not processed successfully.
                When a serious application-level error occurs, the error is returned
                instead of the business data.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Warning">
            <xs:annotation>
              <xs:documentation>[PD]The request was processed successfully, but something occurred that may
                affect your application or the user. For example, eBay may have changed a
                value the user sent in. In this case, eBay returns a normal, successful
                response and also returns the warning.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>


      <xs:simpleType name="ErrorCategory">
        <xs:annotation>
          <xs:documentation>[PD]There are three categories of error: request errors, application errors,
            and system errors. Request and application errors are caused primarily by
            invalid data passed in the request. System errors are caused primarily by
            application failures and cannot be corrected by changing request values.
          </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="System">
            <xs:annotation>
              <xs:documentation>[PD]Indicates that an error has occurred on the eBay system side, such as a
                database or server down. An application can retry the request as-is a
                reasonable number of times (eBay recommends twice). If the error
                persists, contact Developer Technical Support. Once the problem has been
                resolved, the request may be resent in its original form.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Application">
            <xs:annotation>
              <xs:documentation>[PD]An error occurred due to a problem with the request, such as missing or
                invalid fields. The problem must be corrected before the request can be
                made again. If the problem is due to something in the application (such
                as a missing required field), the application must be changed. Once the
                problem in the application or data is resolved, resend the corrected
                request to eBay.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Request">
            <xs:annotation>
              <xs:documentation>[PD]An error occurred due to a problem with the request, such as invalid or
                missing data. The problem must be corrected before the request can be
                made again. If the problem is a result of end-user data, the application
                must alert the end-user to the problem and provide the means for the
                end-user to correct the data. Once the problem in the data is resolved,
                resend the request to eBay with the corrected data.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
            	
      <xs:complexType name="GetResolutionCaseInfoRequest">
		<xs:annotation>
			<xs:documentation>[PD]This is request type for service ResolutionCase:getResolutionCaseInfo.
				PayPal will pass a reference Id and reference Type to get the resolution case information at eBay.
				Now the only valid reference Type is PayPal's Transaction Id from seller's view.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseServiceRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="referenceId" type="xs:string">
						<xs:annotation>
							<xs:documentation>[PD]Reference ID, for now it is a PayPal Transaction ID
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="referenceIdType" type="tns:ReferenceIdType">
						<xs:annotation>
							<xs:documentation>[PD]Reference ID Type, for now the only valid value is PayPalTransactionID
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	  </xs:complexType>

      <xs:complexType name="GetResolutionCaseInfoResponse">
		<xs:annotation>
			<xs:documentation>[PD]This is response type for service ResolutionCase:getResolutionCaseInfo.
				PayPal get the resolution case information at eBay, 
				including case status, is user is in target user segment, 
				landing URL when PP direct user to eBay to file dispute</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseServiceResponse">
				<xs:sequence>
					<xs:element name="responseCode" type="tns:ResponseCode">
						<xs:annotation>
							<xs:documentation>[PD]response code indicate if the processing is success or not
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="userInTargetSegment" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>[PD]true if user is in target user segment
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="itemResolutionCase" type="tns:ItemResolutionCase">
						<xs:annotation>
							<xs:documentation>[PD]the resolution case status in eBay
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="fileResolutionCaseUrl" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>[PD]the resolution url for user to file a dispute at eBay
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="imageUrl" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>[PD]the image url show to user before PayPal transit the user to eBay's page
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>GetResolutionCaseInfo</CallName>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	
	  <xs:complexType name="GetVersionResponse">
	    <xs:annotation>
			<xs:documentation>[PD]response type for getVersion operation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="version" type="xs:int">
			  <xs:annotation>
				<xs:documentation>[PD]the int value of version</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>GetResolutionCaseInfo</CallName>
					</CallInfo>
				</xs:appinfo>
			  </xs:annotation>
			</xs:element>
		</xs:sequence>
	  </xs:complexType>		
	  	
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getResolutionCaseInfoRequest">
    <wsdl:part element="ns0:getResolutionCaseInfoRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResolutionCaseInfoResponse">
    <wsdl:part element="ns0:getResolutionCaseInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="ns0:getVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ResolutionCaseServicePort">
    <wsdl:operation name="getResolutionCaseInfo">
        <wsdl:documentation>
				The Resolution API provides resolution case (INR or SNAD) information for PayPal based on PayPal's transaction ID.
		</wsdl:documentation>
      <wsdl:input message="ns0:getResolutionCaseInfoRequest">
    </wsdl:input>
      <wsdl:output message="ns0:getResolutionCaseInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
        <wsdl:documentation>
				This returns the version of current SOA service.
		</wsdl:documentation>
      <wsdl:output message="ns0:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResolutionCaseServiceHttpBinding" type="ns0:ResolutionCaseServicePort">
    <http:binding verb="POST"/>
    <wsdl:operation name="getResolutionCaseInfo">
      <http:operation location="ResolutionCaseService/getResolutionCaseInfo"/>
      <wsdl:input>
        <mime:content part="getResolutionCaseInfo" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getResolutionCaseInfo" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
     <http:operation location="ResolutionCaseService/getVersion"/>
      <wsdl:input>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResolutionCaseServiceSoapBinding" type="ns0:ResolutionCaseServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getResolutionCaseInfo">
      <soap12:operation soapAction="urn:getResolutionCaseInfo" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap12:operation soapAction="getVersion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResolutionCaseService">
    <wsdl:documentation>
		<Version>1.0.0</Version>
		The Resolution service provides resolution case related information
	</wsdl:documentation>
    <wsdl:port binding="ns0:ResolutionCaseServiceSoapBinding" name="ResolutionCaseServiceSOAP">
      <soap12:address location="https://svcs.ebay.com/services/resolution/ResolutionCaseService/v1"/>
    </wsdl:port>
    <wsdl:port binding="ns0:ResolutionCaseServiceHttpBinding" name="ResolutionCaseServiceHttp">
      <http:address location="https://svcs.ebay.com/services/resolution/ResolutionCaseService/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>